.media {
    display: -ms-flexbox;
    display: flex !important;
    -ms-flex-align: start;
    align-items: center !important;
}

.media-body {
    -ms-flex: 1;
    flex: 1
}
/** SERVICES INFO STARTED **/
.services-info {
    margin-bottom: 30px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.services-info:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.services-info i {
    font-size: 48px;
    width: 60px;
}

.services-info h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    margin: 8px 0 10px;
}

.services-info h4 {
    position: absolute;
    top: 90px;
    left: 45px;
    z-index: 20;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 600;
    border-radius: 3px 3px 3px 0;
    color: #d4d0d0;
    font-family: 'Nunito', sans-serif;
}

.services-2{
    padding: 80px 0 50px;
}

.services-info p {
    margin: 0;
}
.my-form {
position: absolute;
top: 50%;
right: 0;
transform: translateY(-50%);
}

.footer {
overflow: hidden;
background: rgba(var(--color-black-rgb), 0.9);
font-size: 16px;
color: rgba(var(--color-white-rgb), 0.7);
}
.footer .footer-content {
padding: 60px 0;
}
.footer a.footer-link-more {
color: rgba(var(--color-white-rgb), 0.7);
display: inline-block;
position: relative;
}
.footer a.footer-link-more:before {
content: "";
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 1px;
background: var(--color-white);
}
.footer a.footer-link-more:hover {
color: rgba(var(--color-white-rgb), 1);
}
.footer .footer-heading {
color: var(--color-white);
margin-bottom: 20px;
padding-bottom: 10px;
font-size: 18px;
}
.footer .footer-blog-entry li {
margin-bottom: 20px;
display: block;
}
.footer .footer-blog-entry li a .post-meta {
font-size: 10px;
letter-spacing: 0.07rem;
text-transform: uppercase;
font-weight: 400;
font-family: var(--font-secondary);
color: rgba(var(--color-white-rgb), 0.4);
margin-bottom: 0px;
}
.footer .footer-blog-entry li a img {
flex: 0 0 50px;
width: 50px;
}
.footer .footer-links ul {
    text-align: center;
    margin: auto;
    width: 50%;
    }
.footer .footer-links li {
    margin-bottom: 10px;
    text-align: center;
    margin: auto;
    width: 50%;
}
.footer .footer-links li a {
color: rgba(var(--color-white-rgb), 0.7);
}
.footer .footer-links li a:hover, .footer .footer-links li a:focus {
color: rgba(var(--color-white-rgb), 1);
}
.footer .footer-legal {
background: var(--color-black);
padding: 40px 0;
}
.footer .footer-legal .social-links a {
text-align: center;
display: inline-block;
width: 40px;
height: 40px;
background-color: rgba(var(--color-white-rgb), 0.09);
border-radius: 50%;
color: var(--color-white);
line-height: 40px;
}
.footer .footer-legal .social-links a:hover {
background-color: rgba(var(--color-white-rgb), 0.2);
}
.footer .copyright strong {
font-weight: 400;
}
.footer .credits {
padding-top: 6px;
font-size: 13px;
}
.footer .credits a {
color: var(--color-white);
}
.login li{
    list-style: none;
}